/* CSS file to change styling of TodoList.jsx */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");
:root {
  font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: linear-gradient(#f8f7fa, #989ff2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 320;
}

.notification-button {
  font-size: 0.7em;
  margin-left: 10px;
}

button {
  border-width: none;
  border-color: none;
  border-style: none;
  background: none;
  font-size: 1.6em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.edit-task {
  font-size: 1.2em;
}

input[type = "text"] {
  font-size: 1.5em;
  font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  padding: 10px;
  border: 2px solid #bdb6c9;
  border-radius: 5px;
  border-width: thin;
  border-color: black;
  outline: none;
  position: relative;
  margin-top: 9px;
  margin-bottom: 20px;
}

input[type = "checkbox"] {
  width: 18px;
  height: 20px;
  padding: 1px;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  font-weight: lighter;
  padding: 20px;
  margin-bottom: 15px;
  border: 3px solid #090909;
  border-width: thin;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  font-size: 1.3em;
  margin-left: 10px;
}
